<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=7">
  <title>Inventory Management System</title>
  <link rel="stylesheet" th:href="@{/CSS/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/CSS/style.css}">
</head>
<body>
<div class="container-fluid">
  <div class="row" style="height: 100vh; background-image: url('images/wallpaper\ goodluck.png');">
    <div class="col-md-2 bg-primary">
      <div class="mt-8 list-group-flush">
        <div class="list-group">
          <a href="StaffManager.html" class="list-group-item d-flex justify-content-between align-items-center">Staff Manager <span class="badge bg-danger rounded-pill">4</span> </a>
          <!--                         <a href="updateEmployee.html" class="list-group-item list-group-item-action"> Update Staff</a>-->
          <!--                         <a href="Createstaff.html" class="list-group-item list-group-item-action">Create Staff</a>-->
          <a href="Products.html" class="list-group-item d-flex justify-content-between align-items-center active">Products <span class="badge bg-danger rounded-pill">1</span></a>
          <!--                         <a href="CreateOrder.html" class="list-group-item list-group-item-action">Create Order</a>-->
          <a href="login.html" class="list-group-item list-group-item-action">Logout</a>
        </div>
      </div>
    </div>
    <div class="col-md-9 bg-white m-5" style="height: 100%; background-color: hsla(0, 0%, 100%, 0.5) !important;">
      <div class=" mt-2 row ">
        <h1 class="mb-2">Update Inventory</h1>
      </div>
      <div>
        <form th:action="@{/item/{id} (id=${item.id})}" th:object="${item}" method="POST">

          <div class="form-group col-md-6 mt-2">
            <label>Inventory</label>
            <input type="text" th:field="*{title}" placeholder="Inventory" class="form-control">
          </div>
          <div class="form-group col-md-6 mt-2">
            <label>Brand</label>
            <input type="text" th:field="*{brand}" placeholder="Brand" class="form-control">
          </div>

          <div class="form-group col-md-6 mt-2">
            <label>Stock</label>
            <input type="text" th:field="*{stock}" placeholder="Stock" class="form-control">
          </div>

          <div class="form-group col-md-6 mt-2">
            <label>Date</label>
            <input type="date" th:field="*{date}" class="form-control">
          </div>


          <div class="form-group col-md-6 mt-2">
            <label>Category</label>
            <input type="text" th:field="*{category}" placeholder="Category" class="form-control">
          </div>

          <div class="text-center mt-5"><button class="btn btn-dark w-50 mb-5" type="submit">Update</button></div>
        </form>

      </div>
    </div>
  </div>
</div>
</body>

</html>